.nav{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0px 24px ;
    z-index: 10;
    
    @media (min-width: 1024px) {
        top: 64px;
        padding-left: 55px;        
    }
    
}

.nav__fullscreen{
    display: none;
    
    @media (min-width: 1024px) {
        display: block;
    }
    
}
