.nav{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0px 24px ;
    z-index: 10;
}