@import '../../index.scss';

    .dropdown{
        position: relative;
        display: inline-block;
    }
    
    .bg {
        color: white;
        position: absolute;
        height: 100vh;
        right: 1px;
        top: 0px;
        width: 65%;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        display: flex;
        flex-direction: column;

        > ul {
            counter-set: item 0;
            list-style-type: none;
            padding-top: 60px;
            padding-left: 30px;
        }
    
        > a {
            width: 20px;
            height: 20px;
            align-self: flex-end;
            position: relative;
            padding-top: 20px;
            padding-right: 50px;
        }
    }    


