@import '../../index.scss';

.item {
    padding-bottom: 35px;
    display: block;

    > a {
        text-decoration: none;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: map-get($sub-headings , 'navtext' );
        color: map-get($colors , 'tertiary' );
        line-height: 19px;
        letter-spacing: 2.7px;
    }
    
    &::before {
        content: counter(item) " ";
        counter-increment: item 1;
    }
}