@import '../../index.scss';

.item {
    padding-bottom: 35px;
    display: block;

    > .item__a {
        text-decoration: none;
        font-family: 'Barlow Condensed', sans-serif;
        font-size: map-get($sub-headings , 'navtext' );
        color: map-get($colors , 'tertiary' );
        line-height: 19px;
        letter-spacing: 2.7px;
    }
    
    &::before {
        
        content: counter(item) " ";
        counter-increment: item 1;
    }

    @media (min-width: 1024px) {

        > .item__a {
            text-decoration: none;
            font-size: 25px;
            line-height: 19.2px;
            letter-spacing: 2.7px;
            margin-left: 10px;
        }

        &::before {
            font-family: 'Barlow Condensed', sans-serif;
            font-size: 25px;
            font-weight: bold;
        }

        &:hover {
            border-bottom: 3px solid #ffffff;
        }
    }
}