$colors: ('primary': #0D0D17, 'secondary': #D0D6F9, 'tertiary': #ffffff );
$headings: ('headingone': 150px, 'headingtwo': 100px, 'headingthree': 56px, 'headingfour': 32px, 'headingfive': 28px);
$sub-headings: ('subheadingone': 28px, 'subheadingtwo': 14px, 'navtext': 16px);

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


